.btn-animation{
    display: inline-block;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    &::before{
        content:' ';
        position: absolute;
        width: 150%;
        height: 100%;
        left: 0;
        top: 0;
        opacity: 0;
        z-index:0;
        transform-origin: 0% 100%;
        transform: rotate3d(0,0,1,-45deg) translate3d(0,-3em,0);
        transition: transform .3s,opacity .3s,background .3s;
    }
    &:hover::before{
        opacity: 1;
        transform: rotate3d(0,0,1,0deg);
    }
}