.ant-result {
  padding: 0 !important;
}
.reset-popover{
  .ant-popover-inner-content{
    padding: 0;
  }
}
.reset-tooltip{
    max-width: 370px !important;
  .ant-tooltip-arrow{
    width: 12px;
    height: 12px;
    &::before{
      width:12px;
      height: 12px;
    }
  }
  .ant-tooltip-arrow::before,.ant-tooltip-inner{
    background-color: #fff;
    color:#73777A;
    border:1px solid #ddd ;
  }
}
