@import './antd.scss';
@import './variables.scss';
@import './animation.scss';
#app {
  height: 100%;
  user-select: none;
  font-family:'pingfang SC','helvetica neue',arial,'hiragino sans gb','microsoft yahei ui','microsoft yahei',simsun,sans-serif;
}
.error{
color: #f56c6c;
}
.success{
  color: #67c23a;
}
.flex-box{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-grow{
  flex-grow: 1;
}
.text-center{
  text-align: center;
}
.border-bottom{
  border-bottom: 1px solid #e5e5e5;
}
.none-border{
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}
.text-elipise {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.text-underline{
  text-decoration: underline;
  text-underline-offset: 6px;
}
.label-key{
  font-weight: 600;
}
.hover-box{
  &:hover{
    color:$color-primary;
  }
}
.theme-text{
  color:$color-primary;
}
.del-text{
  text-underline-offset: 3px;
  text-decoration: underline;
}
.scroll-bar{
  overflow: auto;
  &::-webkit-scrollbar{
    width: 4px;
  }
  &::-webkit-scrollbar-thumb{
    background-color: #ccc;
  }
  
}
ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
p,dd,dl,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

div:focus {
  outline: none;
}
.inline-block {
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.content {
  height: 100%;
  position: relative;
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.flex {
  display: flex;
}
.flex-sub {
  flex: 1;
}
.flex-direction {
  flex-direction: column;
}
.flex-column-reverse {
  flex-direction: column-reverse;
}
.flex-wrap {
  flex-wrap: wrap;
}
.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}
.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}

.align-content-between {
  align-content: space-between;
}

.align-content-around {
  align-content: space-around;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}
.text-bold {
  font-weight: bold;
}
.text-hidden {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.bgImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.borderR15 {
  border-radius: 15px;
}
.verticalMiddle {
  vertical-align: middle !important;
}
.vertical-bottom {
  vertical-align: text-bottom !important;
}

[v-cloak] {
  display: none;
}
