html {
  --antd-wave-shadow-color:#1890ff;
  --theme-color:#1890ff; }

.blueTheme .tagView-wrapper .scroll-outer .scroll-body .activeTag {
  background: #1890ff !important; }

.blueTheme .ant-btn-primary {
  background-color: #1890ff;
  border-color: #1890ff; }

.blueTheme .ant-menu-horizontal > .ant-menu-item:hover, .blueTheme .ant-menu-horizontal > .ant-menu-item-active, .blueTheme .ant-menu-horizontal > .ant-menu-item-open,
.blueTheme .ant-menu-horizontal > .ant-menu-submenu:hover,
.blueTheme .ant-menu-horizontal > .ant-menu-submenu-active,
.blueTheme .ant-menu-horizontal > .ant-menu-submenu-open, .blueTheme .ant-menu-vertical > .ant-menu-item:hover, .blueTheme .ant-menu-vertical > .ant-menu-item-active, .blueTheme .ant-menu-vertical > .ant-menu-item-open,
.blueTheme .ant-menu-vertical > .ant-menu-submenu:hover,
.blueTheme .ant-menu-vertical > .ant-menu-submenu-active,
.blueTheme .ant-menu-vertical > .ant-menu-submenu-open {
  color: #1890ff; }

.blueTheme .ant-menu-item-selected {
  background-color: #1890ff !important; }

.blueTheme .sale-title .sale-time .time-item.activeTime {
  background: #1890ff !important; }
  .blueTheme .sale-title .sale-time .time-item.activeTime:hover {
    background: #1890ff !important; }

.blueTheme .ant-back-top {
  background-color: #1890ff !important; }

.blueTheme .ant-switch-checked {
  background-color: #1890ff !important; }

.blueTheme .ant-tabs-nav .ant-tabs-tab-active, .blueTheme .ant-tabs-nav .ant-tabs-tab:hover {
  color: #1890ff; }

.blueTheme .ant-tabs-ink-bar {
  background-color: #1890ff; }

.blueTheme .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #1890ff;
  border-color: #1890ff; }

.blueTheme .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner::after {
  background-color: #1890ff; }

.blueTheme .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  background-color: #1890ff;
  border-color: #1890ff; }

.blueTheme .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #1890ff;
  border-color: #1890ff; }
  .blueTheme .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    background: #1890ff;
    border-color: #1890ff; }
