.greenTheme .rightPanl {
  background: #52c41a !important; }
  .greenTheme .rightPanl .settingIcon {
    color: #fff; }

.greenTheme .tagView-wrapper .scroll-outer .scroll-body .activeTag {
  background: #52c41a !important; }

.greenTheme .sale-title .sale-time .time-item.activeTime {
  background: #52c41a !important; }
  .greenTheme .sale-title .sale-time .time-item.activeTime:hover {
    background: #52c41a !important; }

.greenTheme .backTop .ant-back-top {
  background: #52c41a !important; }

.greenTheme .ant-menu.ant-menu-dark .ant-menu-item-selected {
  background: #52c41a !important; }

.greenTheme .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #52c41a !important;
  border-color: #52c41a !important;
  box-shadow: -1px 0 0 0 #52c41a !important; }

.greenTheme .ant-switch-checked {
  background: #52c41a !important; }
