html {
  --antd-wave-shadow-color:#faad14;
  --theme-color:#faad14; }

.yellowTheme .tagView-wrapper .scroll-outer .scroll-body .activeTag {
  background: #faad14 !important; }

.yellowTheme .ant-btn-primary {
  background-color: #faad14;
  border-color: #faad14; }

.yellowTheme .ant-menu-horizontal > .ant-menu-item:hover, .yellowTheme .ant-menu-horizontal > .ant-menu-item-active, .yellowTheme .ant-menu-horizontal > .ant-menu-item-open,
.yellowTheme .ant-menu-horizontal > .ant-menu-submenu:hover,
.yellowTheme .ant-menu-horizontal > .ant-menu-submenu-active,
.yellowTheme .ant-menu-horizontal > .ant-menu-submenu-open {
  color: #faad14; }

.yellowTheme .ant-menu-item-selected {
  background-color: #faad14 !important; }

.yellowTheme .sale-title .sale-time .time-item.activeTime {
  background: #faad14 !important; }
  .yellowTheme .sale-title .sale-time .time-item.activeTime:hover {
    background: #faad14 !important; }

.yellowTheme .ant-back-top {
  background-color: #faad14 !important; }

.yellowTheme .ant-switch-checked {
  background-color: #faad14 !important; }

.yellowTheme .ant-tabs-nav .ant-tabs-tab-active, .yellowTheme .ant-tabs-nav .ant-tabs-tab:hover {
  color: #faad14; }

.yellowTheme .ant-tabs-ink-bar {
  background-color: #faad14; }

.yellowTheme .ant-checkbox-checked .ant-checkbox-inner {
  background-color: #faad14;
  border-color: #faad14; }

.yellowTheme .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner::after {
  background-color: #faad14; }

.yellowTheme .ant-tree-checkbox-checked .ant-tree-checkbox-inner {
  background-color: #faad14;
  border-color: #faad14; }

.yellowTheme .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  background: #faad14;
  border-color: #faad14; }
  .yellowTheme .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled):hover {
    background: #faad14;
    border-color: #faad14; }
