$color-primary:#1890ff;
.blueTheme {
  .rightPanl {
    background: $color-primary !important;
    .settingIcon {
      color: #fff;
    }
  }
  .tagView-wrapper .scroll-outer .scroll-body .activeTag {
    background: $color-primary !important;
  }
  .sale-title .sale-time .time-item.activeTime {
    background: $color-primary !important;
    &:hover {
      background: $color-primary !important;
    }
  }
  .backTop .ant-back-top {
    background: $color-primary !important;
  }

  .ant-menu.ant-menu-dark .ant-menu-item-selected {
    background: $color-primary !important;
  }
  .ant-radio-group-solid .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
    background: $color-primary !important;
    border-color: $color-primary !important;
    box-shadow: -1px 0 0 0 $color-primary !important;
  }
  .ant-switch-checked {
    background: $color-primary !important;
  }
}
