$html-selector:html;
$color-primary:#faad14;
$menu-prefix-cls:ant-menu;
$ant-radio-button-wrapper:ant-radio-button-wrapper;
#{$html-selector}{
  --antd-wave-shadow-color:#{$color-primary};
  --theme-color:#{$color-primary};
}
.yellowTheme{
  .tagView-wrapper .scroll-outer .scroll-body .activeTag {
    background: $color-primary !important;
  }
  .ant-btn-primary{
    background-color: $color-primary;
    border-color: $color-primary;
  }
  .ant-menu{
    &-horizontal {
      > .#{$menu-prefix-cls}-item,
      > .#{$menu-prefix-cls}-submenu {
        &:hover,
        &-active,
        &-open{
          color: $color-primary;
        }
      }
    }
    &-item-selected{
      background-color:$color-primary !important;
    }
  }
  .sale-title .sale-time .time-item.activeTime {
    background: $color-primary !important;
    &:hover {
      background: $color-primary !important;
    }
  }
  .ant-back-top{
    background-color: $color-primary !important;
  }
  .ant-switch-checked{
    background-color: $color-primary !important;
  }
  .ant-tabs-nav{
    .ant-tabs-tab-active,.ant-tabs-tab:hover{
    color:$color-primary;
  }
}
  .ant-tabs-ink-bar{
    background-color: $color-primary;
  }
  .ant-checkbox-checked .ant-checkbox-inner{
    background-color: $color-primary;
    border-color: $color-primary;
  }
  .ant-tree-checkbox-indeterminate .ant-tree-checkbox-inner::after{
    background-color: $color-primary;
  }
  .ant-tree-checkbox-checked .ant-tree-checkbox-inner{
    background-color: $color-primary;
    border-color: $color-primary;
  }
  .ant-radio-group-solid .#{$ant-radio-button-wrapper}-checked:not(.#{$ant-radio-button-wrapper}-disabled) {
    background: $color-primary;
    border-color: $color-primary;
    &:hover {
      background: $color-primary;
      border-color: $color-primary;
    }
  
}
}
